/*
* This is the main style sheet
*
*/


body{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #585858;
		background-color: #FFFFFF;
		padding: 0 75px;
}

header{
		text-align: center;
		background-color: #F5EFFB;
		padding-top: 10px;
		padding-left: 10px; 
		padding-right: 10px;
}

header img{
		margin-right: 4.5em;
}

header p{
		font-style: italic;
		padding-left: 10px;
		padding-right: 10px;
}

h1{
		font-size: 60px;
}

a:link, a:visited {
		text-decoration: none;
		color: #1C1C1C;
		font-weight: 300;
}

a:active, a:hover{
		text-decoration: none;
		color: #A4A4A4;
}

nav ul{
		margin-left: -25px;
		background-color: #FFFFFF;
		height: 40px;
		text-align: center;
		line-height: 60px;
		font-size: 16px;
		margin-right: -25px;
}

nav ul li{
		display: inline;
		margin-right: 5.5em;
}

article{
		border-top: 1px dotted #e8e8e8;
		margin: auto;
		background-color: #E6E0F8;
		padding-left: 25px;
		height: 700px
}

footer{
		text-align: center;
}

div.img{
  		margin:2px;
  		height:auto;
  		width:auto;
  		float:left;
  		text-align: center;
  		padding: 0px;
}

div.img img{
  		display:inline;
  		margin-right:3px;
  		border:10px solid #F2F2F2;
}

div.img a:hover img{
  		border:10px solid #F2F2F2;
}

div.desc{
  		text-align:center;
  		font-weight:normal;
  		width:600px;
  		margin:2px;
}

article h1{
		font-size: 32px;
}

article p{
		padding-right: 10px;
		font-size: 14px;
}